/*Обнуление*/
*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height:100%;width:100%;font-size:100%;line-height:1;font-size:14px;-ms-text-size-adjust:100%;-moz-text-size-adjust:100%;-webkit-text-size-adjust:100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: inherit;}
/*--------------------*/

.body{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}


// containers
.bottom-photos{
    height: 600px;
    margin-top: -100px;
    padding-bottom: 120px;
}

.container{
    padding: 0;
}

.row{
    margin: 0;
}

//           images         //
.union{
    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0px;
    top: 0px;
    z-index: -1;
    
    .union__image{
        width: 100%;
    }
    .union__image--index-1{
        z-index: -1;
    }
}

.union-bottom{
    width: 100%;
    position: absolute;
    height: 300px;

    .union__image{
        width: 100%;
    }
}

.mini-rocket{
    position: relative;
    top: -513px;
    left: 50%;
    width: 45%;
}

.notebook-photo{
    position: relative;
    left: -102px;
}

.company-image{
    position: relative;
    top: 130px;
    left: 145.5px;
}


// vector images
.vector{
    position: absolute;
    left: 7.71%;
    right: 8.04%;
    top: 0%;
    bottom: -0.05%;
    z-index: -2;
    .vector__image{
        width: 100%;
    }
    .vector__image--index-2{
        z-index: -2;
    }
}

//  decorators

.--active{
    background-color: #000;
}

.--bold{
    font-weight: bold;
}

// navigation

.navigation{
    margin: 4% 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    .navigation__logo{
        width: 50%;
    }
    .navigation__list__container{
        width: 50%;
        .navigation__button{
            display: none;
            margin-bottom: 20px;
            width: 100%;
            margin-top: 20px;
        }
    }
}
.navigation__list{
    display: flex;
    justify-content: space-between;
    .navigation__list__link{
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        margin-bottom: 10px;
        color:#fff;
    }
}

.navigation__list__container--active{
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.navigation__list--active{
    display: inline-block !important;
    width: 164px;
    height: 0;
    justify-content: flex-end;
    flex-direction: column;
}
.navigation__list__item--active{
    justify-content: flex-end;
    display: flex;
}

//            results 

.results{
    position: relative;
    color: rgb(255, 255, 255) ;
    font-family: 'Montserrat', sans-serif;
    margin-top: 100px;
    width: 100%;
    display: flex;
}

.results__title{
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 78px;
    color: rgb(255, 255, 255) ;
    opacity: 1;
}

.results__subtitle{
    margin-top: 12px;
    font-size: 24px;
    line-height: 29px;
}

.results__text{
    width: 50%;
}

.results__rocket{
    position: relative;
    width: 50%;
    left: -170px
}

.results__rocket__image{
    width: 100%;
}

.results__button{
    width: 255px;
    height: 48px;
    left: 165px;
    top: 467px;
    background: linear-gradient(260.2deg, #6FCCDD -101.8%, #F27AAA 19.84%, #9278B6 132.12%), #C4C4C4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    margin-top: 18%;
}


//          stats

.stats{
    margin-top: 4%;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: #333;
}

.stats__photo{
    width: 65%;
    position: relative;
}

.stats__info{
    padding-left: 40px;
    width: 35%;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
}

.status__info__project-name{
    font-size: 36px;
    line-height: 43px;
}

.status__info__percentes{
    margin-top: 20px;
    .percentes{
        background: linear-gradient(260.2deg, #6FCCDD -101.8%, #F27AAA 19.84%, #9278B6 132.12%), #C4C4C4;
        background-size: 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -webkit-text-fill-color: transparent; 
        -moz-text-fill-color: transparent;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 72px;
        line-height: 88px;
        text-transform: uppercase;
        margin-bottom: 0;
    }
    .subtitle{
        font-family: Montserrat;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 29px;
        text-transform: none;
    }
    
}

.notebook-white-screen{
    position: absolute;
    width: 591px;
    height: 379px;
    background-color: #fff;
    top: 20px;
    left: 57px;   
}

.prev-button{
    border-style: solid;
    border-color: #333;
    border-width: 0 2px 2px 0;
    padding: 8px;
    transform: rotate(135deg);
}

.next-button{
    border-style: solid;
    border-color: #333;
    border-width: 0 2px 2px 0;
    padding: 8px;
    transform: rotate(315deg);
}

.button-container{
    width: 100%;
    display: flex;
    margin-top: 40px;
}


.carousel-span{
    width: 14px;
    height: 14px;
    box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    background-color: #fff;
}

.carousel-state{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}




@media (max-width: 1199.2px) {
    //   images
    .notebook-photo{
        left: 0;
        width: 90%;
    }
    .union__image--mobile{
        margin-top: 0;
        padding-top: 0;
    }
    .company-image {
        left: 62.75px;
        top: 80px;
    }
    .stats__photo{
        padding-top: 60px;
    }
    .notebook-white-screen{
        width: 67%;
        top: 71px;
        height: 49%;
        left: 108px;
    }
    .mini-rocket{
        width: 40%;
        left: 55%;
    }
    // containers
    .bottom-photos{
        height: 600px;
        margin-top: 0;
    }
    //results
    .results__subtitle{
        margin-top: 50px;
        color: #333;
    }
    .results__rocket{
        left: 0;
    }
    .results__button{
        margin-top: 5%;
    }
    // stats
    .stats__photo{
        margin-left: -50px;
    }
    .status__info__percentes {
        margin-top: 0;
    }
}

@media (max-width: 1130px) {
    
    // navigation 
    .navigation__list__link{
     font-size: 14px !important;
    }
    // images 
    
    .mini-rocket{
     top: -120%;
     width: 35%;
    }

    //   results
    .results__title{
        margin-top: 5%;
        
    }

    .results__title{
        margin-top: -20px;
    }

    .results__rocket{
        left: 0;
    }

    .results__subtitle{
        margin-top: 7%;
    }
}

@media (max-width: 991.2px) {

    //   decorators
    .--gray{
        margin-top: 10%;
        color: #333;
        width: 140%;
    }
    
    //  photos
    .mini-rocket {
        top: -120%;
        width: 45%;
        left: 46%;
    }
    .company-image{
        left: 6.75px;
        top: 48px;
    }
    
    // containers 
    .bottom-photos{
        padding-bottom: 0;
        padding-top: 60px;
        height: 450px;
        margin-top: 10px;
    }
    //  stats
    .percentes{
        font-size: 58px !important;
    }
    
    .stats__info{
        padding-left: 0;
    }
    .status__info__title{
        font-size: 21px;
    }
    
    .status__info__percentes {
        margin-top: 0 !important;
    }
    .subtitle{
        margin-bottom: 0;
        font-size: 22px;
    }
    
    .status__info__project-name{
        font-size: 34px;
    }
    .subtitle{
        margin-top: -10px;
    }
    
    .notebook-white-screen {
        left: 82px;
        top: 67px;
    }
}

@media (max-width: 767.5px) {
    // navigation 
    .navigation{
        align-content: flex-start;
        margin-top: 60px;
    }
    .navigation__list{
        display: none;
    }
    .navigation__button{
        display: flex !important;
        justify-content: flex-end;
        width: 20px;
        .navigation__button__icon{
            color: #333;
            font-size: 25px;
        }
    }
    .navigation__list__link{
        color: #a4a4a4 !important;
    }
    
    //containers
    .union-bottom {
        height: 300px;
    }
    .button-container{
        justify-content: center;
    }
    .bottom-photos {
        height: 300px;
    }
    // decorators
    .--gray{
        margin-top: -26px;
        color: #333;
        width: 100%;
    }
    
    //  photos
    .stats__photo{
        width: 50%;
        text-align: center;
        margin-left: -68px;
    }
    .company-image {
        width: 80%;
        top: 35px;
        left: 0px;
    }
    .vector{
        display: none;
    }
    .notebook-photo {
        width: 300px;
    }
    .mini-rocket {
        top: -280px;
    }
    .results__rocket__image{
        margin-left: -39px;
        margin-top: 7%;
        width: 90%;
    }
    
    //    results
    .results__title{
        font-size: 46px;
        margin-top: -12%;
    }
    .results{
        flex-direction: column;
        align-items: center;
    }
    .results__text{
        width: 80%;
        text-align: center;
        margin-top: 36px;
    }

    //    stats
    .stats{
        flex-direction: column;
        align-items: center;
        margin-top: -40px;
    }

    .stats__info{
        margin-top: -30px;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .notebook-white-screen {
        width: 224px;
        height: 136px;
        left: 58px;
        top: 69px;
    }
    .results__title{
        margin-top: 0;
        color: #333;
    }
    .results__rocket{
        width: 70%;
    }
}


@media (max-width: 560px) {

    //  navigation
    .navigation{
        margin-top: 6%;
        padding: 0 5%;
    }
    .navigation__list {
        margin-top: 50px;
    }
    //  photos
    .results__rocket__image {
        margin-left: -2px;
        margin-top: 7%;
        width: 75%;
    }
    .mini-rocket {
        top: -230px;
    }
    //  containers
    .union-bottom {
        height: 100px;
    }
    .bottom-photos {
        height: 250px;
    }
    //  decorators
    .--gray{
        margin-top: -35px;
    }

    
    .results__title{
        font-size: 36px;
    }
    
    .mobile-toggler{
        position: relative;
        right: -80%;
    }
    .status__info__title {
        font-size: 16px;
    }
    .status__info__project-name {
        font-size: 26px;
    }
    .percentes {
        font-size: 50px !important;
    }
    .subtitle {
        margin-top: -10px;
        font-size: 16px !important;
    }
}

@media (max-width: 460px) {
    //  photos
    .mini-rocket {
        top: -150%;
    }
    .stats__photo {
        width: 300px;
        margin-left: -8%;
    }
    // results
    .results{
        margin-top: 0;
    }

    .results__title {
        font-size: 28px;
    }
    .results__subtitle {
        margin-top: 7%;
        font-size: 16px;
    }
    .bottom-photos {
        height: 100px;
    }

    .status__info__project-name {
        font-size: 22px;
    }
    .results__text {
        margin-top: 72px;
    }
}


